// ------------------------------------------------------------------
// PAGINATION
// ------------------------------------------------------------------
nav.woocommerce-pagination {
	text-align: center;
	margin: 20px 0 60px 0;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border: 1px solid #DFDBDF;
		border-right: 0;
		margin: 1px;

		li {
			border-right: 1px solid #DFDBDF;
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;

			a,
			span {
				margin: 0;
				text-decoration: none;
				padding: 0;
				line-height: 1em;
				font-size: 1em;
				font-weight: normal;
				padding: .5em;
				min-width: 1em;
				display: block;
			}
		}
	}
}