// ------------------------------------------------------------------
// General
// ------------------------------------------------------------------
body {
	font-family: "Source Sans Pro";
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	color: #505050;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #65AA00;

	&:hover {
		color: #65AA00;
	}
}
select {
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	font-size: 11px;
	padding: 6px 8px;
	max-width: 400px;
}
input,
button {
	border: 0;
	outline: none;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro";
	font-weight: 400;
	line-height: 24px;
	color: #505050;
	letter-spacing: -0.5px;
}
footer a {
	color: #876;
}
// ------------------------------------------------------------------
// Import
// ------------------------------------------------------------------

@import '_ui.less';
@import '_superfish-vertical.less';
@import '_megafish.less';
@import '_header.less';
@import '_sidebar-widget.less';
@import '_woocommerce.less';
@import '_pagination.less';



.header-middle-wrapper {
	.btn-group {
		position: absolute;
		left: 0;
		width: 160px;
		height: 44px;
		border-radius: 18px 0 0 18px;

		.btn {
			background: rgba(0, 0, 0, 0);
			border: 0;
			width: 100%;
			height: 100%;
			// border-right: 1px solid #D0D0D0;
			border-radius: 18px 0 0 18px;
		}
	}
}
input[type="submit"] {
	background: #65AA00;
	color: #FFF;
	padding: 10px 20px;
	font-weight: bold;
	border: 0;
	outline: 0;
	box-shadow: none;

	&:hover {
		background: darken(#65AA00, 4%);
	}
}



.sf-menu {
	background: #FFF;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%, rgba(233,233,233,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#E9E9E9), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top, #FFF 0%,#E9E9E9 100%,#E9E9E9 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%,rgba(233,233,233,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%,rgba(233,233,233,1) 100%);
	background: linear-gradient(to bottom, #FFF 0%,#E9E9E9 100%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 );

	border: 1px solid #D0D0D0;

	border-radius: 2px;
}





.header-woo-content {
	display: inline-block;
	float: right;
	padding: 13px 0 0 0;
	margin: 33px 0 0 28px;
	position: relative;
}
.header-bottom-wishlist {
	display: inline-block;
	float: left;
}
.wc-tini-account-wrapper {
	padding: 0 0 10px;
}
.wc-tini-account-control a span {
	position: relative;
	padding-left: 33px;
	font-weight: bold;
}
.wc-tini-account-control a span:before {
	content: "\f007";
	font-family: "FontAwesome";
	color: #202020;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 19px;
	line-height: 16px;
}
.wc-tini-account-wrapper .form_wrapper_footer {
	color: #000;
	font-weight: bold;
}
.wc-tini-account-control a span:after {
	content: "\f0dd";
	font-family: "FontAwesome";
	color: #202020;
	font-size: 15px;
	position: absolute;
	left: 20px;
	top: -3px;
	line-height: 16px;
}
.shopping-cart {
	display: inline-block;
	float: left;
	position: relative;
	margin: 0 0 0 28px;
	padding: 0 0 0 40px;
}
.shopping-cart:before {
	content: "\f0b1";
	font-family: "FontAwesome";
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 0;
}
.shopping-cart .wc-tini-cart-wrapper {
	position: relative;
	padding: 0 0 10px;
}
.shopping-cart:after {
	content: "\f0dd";
	font-family: "FontAwesome";
	color: #202020;
	font-size: 15px;
	position: absolute;
	left: 20px;
	top: -2px;
	line-height: 16px;
}
.shopping-cart .cart_size {
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
}

/*---------- WC Meta Loop ----------*/

.wc-meta-loop {
	float: left;
	width: 100%;
	clear: both;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 10px;
	border-color: #D0D0D0;
}
.woocommerce-result-count {
	float: left;
	margin: 0;
	line-height: 33px;
}


.slides > li { margin-right: 44px; }




#comments {
	background: #FFF;
	margin-bottom: 15px;
}





#main {
	margin-bottom: 60px;
}
#main-slider {
	margin: 40px 0;
}
.featured-shop-area-container {
	position: relative;
}

.tabs_wrap {
	.pane {
		min-height: 300px;
	}
}
// ------------------------------------------------------------------
// Product
// ------------------------------------------------------------------
/* Main container */
.cbp-vm-switcher {
	padding: 0;
	margin: 0;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
	text-align: right;
	float: right;
	margin-right: 10px;


	a {
		display: inline-block;
		width: 28px;
		height: 28px;
		overflow: hidden;
		white-space: nowrap;
		color: #d0d0d0;
		margin: 0;

		&:hover,
		&.cbp-vm-selected {
			color: #202020;
		}

		&:before {
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 14px;
			text-align: center;
			display: inline-block;
		}
	}
}

/* General style of switch items' list */

.cbp-vm-switcher {
 	ul {
		list-style: none;
		padding: 0;
		margin: 10px 0 0 0;
		
		/* Clear eventual floats */
		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		li {
			display: block;
			position: relative;
			border-bottom: 1px solid #ccc;
			box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
		}
	}
}


.cbp-vm-content {
	display: inline-block;
}
.cbp-vm-image {
	display: block;
	margin: 0 auto;

	img {
		display: inline-block;
		max-width: 100%;
		border: none;
	}
}


.cbp-vm-title {
	margin: 0;
	padding: 0;
	color: #303030;
}

.cbp-vm-price {
	color: #c0c0c0;
}

.cbp-vm-add {
	background: #E9E9E9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #e9e9e9 , EndColorStr= #ffffff );
	background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#FFF));
	background: -webkit-linear-gradient(#E9E9E9, #FFF);
	background: -moz-linear-gradient(top, #e9e9e9, #ffffff);
	background: -ms-linear-gradient(#e9e9e9, #ffffff);
	background: -o-linear-gradient(#e9e9e9, #ffffff);
	background: linear-gradient(#E9E9E9, #FFF);
	zoom: 1;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-color: #D0D0D0;
	color: #505050;
	padding: 5px 10px;
	border-radius:2px;
	// margin: 20px 0 0;
	display: inline-block;
	transition: background 0.2s;

	&:hover {
		background: #E9E9E9;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #FFF , EndColorStr= #e9e9e9 );
		background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E9E9E9));
		background: -webkit-linear-gradient(#FFF, #E9E9E9);
		background: -moz-linear-gradient(top, #FFF, #E9E9E9);
		background: -ms-linear-gradient(#FFF, #E9E9E9);
		background: -o-linear-gradient(#FFF, #E9E9E9);
		background: linear-gradient(#FFF, #E9E9E9);
		zoom: 1;
		border-color: #D0D0D0;
		color: #505050;
		text-decoration: none;
	}

	&:before {
		margin-right: 5px;
	}
}

/* Common icon styles */
.cbp-vm-icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.cbp-vm-grid:before {
	content: "\f00a";
}

.cbp-vm-list:before {
	content: "\f00b";
}

.cbp-vm-add:before {
	content: "\f07a";
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid {
	 ul {
		text-align: center;
		
		li {
			width: 23%;
			text-align: center;
			padding: 20px;
			margin: 30px 10px;
			display: inline-block;
			min-height: 420px;
			vertical-align: top;

			-webkit-transition: all .3s ease-in-out;

			&:hover{
				-webkit-transform: scale(1.1);
				-webkit-box-shadow: 0 0 5px #D8D8D8;
			}
		}
	}
	.cbp-vm-image {
		img {
			width: 200px;
			height: 200px;
		}
	}
	.cbp-vm-title {
		font-size: 2em;
		padding-top: 20px;
	}

	.cbp-vm-details {
		max-width: 300px;
		min-height: 70px;
		margin: 0 auto;
	}

	.cbp-vm-price {
		margin: 10px 0;
		font-size: 1.5em;
	}
}


/* List view */
.cbp-vm-view-list {
	 li {
		padding: 20px 0;
		white-space: nowrap;
	}

	.cbp-vm-image,
	.cbp-vm-title,
	.cbp-vm-details,
	.cbp-vm-price,
	.cbp-vm-add {
		display: inline-block;
		vertical-align: middle;
	}
	
	.cbp-vm-image {
		width: 10%;
	}

	.cbp-vm-title {
		font-size: 1.3em;
		padding: 0 10px;
		white-space: normal;
		width: 23%;
	}

	.cbp-vm-price {
		font-size: 1.3em;
		width: 10%;
	}

	.cbp-vm-details {
		width: 40%;
		padding: 0 10px;
		overflow: hidden;
		white-space: normal;
	}

	.cbp-vm-add {
		margin: 0;
	}
}





@media screen and (max-width: 66.7em) {
	.cbp-vm-view-list .cbp-vm-details  {
		width: 30%;
	}
} 

@media screen and (max-width: 57em) {
	.cbp-vm-view-grid ul li {
		width: 49%;
	}
}

@media screen and (max-width: 47.375em) {
	.cbp-vm-view-list .cbp-vm-image {
		width: 20%;
	}

	.cbp-vm-view-list .cbp-vm-title {
		width: auto;
	}

	.cbp-vm-view-list .cbp-vm-details  {
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	.cbp-vm-view-list .cbp-vm-add  {
		margin: 10px;
	}
}

@media screen and (max-width: 40.125em) {
	.cbp-vm-view-grid ul li {
		width: 100%;
	}
}





// ------------------------------------------------------------------
// Collection
// ------------------------------------------------------------------
.shop-profile {
	margin-bottom: 45px;
	border-bottom: 1px solid #D0D0D0;

	.page-logo img {
		position: absolute;
		border: 1px solid #D0D0D0;
		display: block;
		width: 140px;
		height: 140px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
}
.collection {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 30px;
		float: left;
	}
	a.collection-link {
		border-radius: 3px;
		border: 1px solid #D0D0D0;
		border-bottom: 1px solid #D0D0D0;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
		color: #5A5552;
		display: block;
		position: relative;
		overflow: hidden;

		&:hover {
			box-shadow: 0 1px 1px #D0D0D0;

			.preview-count {
				visibility: visible;
				opacity: 1;
				display: block;
				-webkit-transition: opacity .3s;
				-moz-transition: opacity .3s;
				transition: opacity .3s;
			}
		}
	}

	.collection-preview {
		position: relative;
		background-color: #F2F1F1;
		overflow: hidden;
		opacity: .85;

		img {
			float: left;
			width: 50%;
			height: 88px;
			border-right: 1px solid #D0D0D0;
			border-bottom: 1px solid #D0D0D0;
			text-indent: -1000px;
			overflow: hidden;
			background-color: #F2F1F1;
		}

	}

	.collection-detail {
		position: relative;
		padding: 12px 13px;

		h3 {
			font-size: 14px;
			line-height: 18px;
			margin: 0;
			height: 18px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.arrow {
			position: absolute;
			top: 50%;
			line-height: 24px;
			margin-top: -14px;
			right: 10px;
			font-family: 'FontAwesome';
			border: 1px solid #D0D0D0;
			padding: 4px 10px 0px;
			border-radius: 50%;

			&::after {
				content: "\f054";
			}
		}
	}

	.preview-count {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		line-height: 26px;
		font-size: 16px;
		font-weight: bold;
		margin-top: -13px;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		transition: opacity .3s;

		> span {
			display: inline-block;
			padding: 0 10px;
			color: #FFF;
			border-radius: 3px;
			background-color: #333;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}

}

.shop-cat-lists {
	ul {
		li {
			.page-logo {
				overflow: hidden;
				border: 1px solid #D0D0D0;
				float: left;
				position: relative;
				width: 90px;
				height: 90px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;

				img {
					width: 100%;
					height: 90px;
				}
			}

			.page-info {
				margin: 11px 0 0 95px;

				h3 {
					font-size: 18px;
					line-height: 5.2em;
					font-weight: normal;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}

	}
}
hr {
	border-top: 1px solid #D0D0D0;
}
.jumbotron {
	background: transparent;
	border: 1px solid #D0D0D0;
	text-align: center;
}

.container .jumbotron {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}




// ------------------------------------------------------------------
// Follower Twitter
// ------------------------------------------------------------------
.follow-button-container>div {
	display: table-cell;
}
.follower-count-cell {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	border: 1px solid #DDD;
	background-color: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 9px;
	position: relative;

	.left-arrow {
		border-left: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		background-color: #FFF;
		display: inline-block;
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678, sizingMethod='auto expand')";
		position: absolute;
		margin-top: -5px;
		left: -5px;
		top: 50%;
	}
}

// ------------------------------------------------------------------
// Recent Favorite
// ------------------------------------------------------------------
#recent-fav {
	margin: 30px 0;
	text-align: center;
}
#trending-listings {
	list-style: none;
	margin: 0;
	padding: 0;
}
.trending-listing {
	position: relative;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.trending-listing .listing-info .listing-title {
	color: #666;
	display: block;
	float: left;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	white-space: nowrap;
	width: 175px;
}
.trending-listing .listing-info .listing-price {
	color: #78C042;
	position: absolute;
	right: 7px;
	bottom: 4px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	height: 18px;
	font-size: 13px;
}
.trending-listing .listing-info {
	background-color: #FFF;
	font-size: 12px;
	line-height: 16px;
	padding: 6px;
	position: relative;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.trending-listing .about-shop a {
	display: block;
	padding: 15px 8px;
	text-decoration: none;

	.reviews {
		padding: 10px 0 5px;
		margin-left: 25%;
	}

	&:hover {
		background: #fff;
	}
}
.trending-listing a.listing-image img {
	display: block;
	width: 100%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.thumbnail-outer {
	border-radius: 3px;
	border: 1px solid #ECECEC;
	float: left;
	margin-right: 6px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
.trending-listing, .tastemaker {
	text-align: left;
	background-color: #FFF;
	border: 1px solid #E4E4E2;
	margin-top: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.trending-listing {
	a.listing-image {
		border: 4px solid #FFF;
		border-bottom: 0 none;
		display: block;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.about-shop {
		background-color: #FBFBF8;
		border-top: solid 1px #DDD;
		line-height: 18px;
		text-align: left;

		img {
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			height: 50px;
			float: left;
			margin: 5px 10px 0 0;
			width: 50px;
		}
	}
}
.owner-details {
	color: #333;
	font-family: "Guardian-EgypTT",Georgia,serif;
	font-size: 14px;
	font-weight: 500;
}
ul.related-listings {
	padding: 0 6px;
	margin: 15px 0 20px;
	display: block;
	height: 90px;
	text-align: center;
	list-style: none;
	clear: both;
	width: 298px;

	li {
		float: left;
		word-wrap: break-word;
		margin-right: 3px;
	}
	img {
		margin-left: 0;
		height: 69px;
		width: auto;
		display: block;
		text-decoration: none;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		-ms-transition: all 0.1s;
		-o-transition: all 0.1s;
		transition: all 0.1s;
	}
}

.thumbnail-outer.count-box {
	margin-right: 0;
	height: 72px;
}
.count-box .thumbnail-inner {
	display: table-cell;
	vertical-align: middle;
	height: 69px;
	width: 69px;
	background: #FFF;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
a.shop-listing-count {
	color: #999;
	display: block;
	height: 35px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 78px;
}
.listing-count {
	color: #0192B5;
	display: block;
	font-size: 24px;
	text-decoration: none;
}
#tastemaker-list {
	list-style: none;
	padding: 0 0 0 10px;
}
#tastemakers .col-md-3 {
	padding-left: 0;
	padding-right: 10px;
}


.tastemaker {
	position: relative;
	z-index: 2;
	margin-left: 5px;
	margin-right: 5px;

	&:hover {
		border-color: #E5E4E3 #E5E4E3 #CBC9C7;
		-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
		-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);

		.tastemaker-name {
			opacity: 1;
		}

		.tastemaker-desc {
			top: -24px;
		}
	}
}
.tastemaker-desc {
	margin: 0;
	position: absolute;
	top: -13px;
	left: 8px;
	right: 0;
	-webkit-transition: top 0.2s;
	-moz-transition: top 0.2s;
	-ms-transition: top 0.2s;
	-o-transition: top 0.2s;
	transition: top 0.2s;
}
.tastemaker-favorites {
	width: 106%;
}
.tastemaker-link {
	position: relative;
}
.tastemaker-avatar {
	padding: 2px;
	background-color: #FFF;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	float: left;
	margin-right: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.tastemaker-avatar img {
	width: 35px;
	height: 35px;
	display: block;
	background-color: #F5F5F1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.tastemaker-link a.title-text {
	display: block;
	font-size: 12px;
	line-height: 18px;
	padding: 12px 13px;
	text-decoration: none;
	white-space: nowrap;
}
a.title-text h4 {
	color: #5A5552;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
	width: 180px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tastemaker-favorites img {
	width: 47%;
	height: 90px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.tastemaker-name {
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
	line-height: 20px;
	display: block;
	background: rgba(0, 0, 0, 0);
	padding-left: 3px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.tastemaker-favorites .favorite-0 img, .tastemaker-favorites .favorite-2 img {
	margin-right: 2px;
}
.tastemaker-favorites .favorite-0 img, .tastemaker-favorites .favorite-1 img {
	margin-bottom: 2px;
}
a.title-text p.favorites-number {
	line-height: 18px;
	color: #999;
	text-decoration: none;
}

.trust-wrapper {
	background: #F6F6F6;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#trust {
	color: #888;
	font-family: "Guardian-EgypTT",georgia,serif;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	padding: 40px 0;
}
#trust .col-md-4 {
	padding-bottom: 30px;
}
#trust .trust1, #trust .trust2, #trust .trust3 {
	background: top center no-repeat;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	span {
		font-size: 20px;
	}
	.trust-icon {
		width: 81px;
		height: : 80px;
		padding: 30px;
		background: #FFF;
		border-radius: 50%;
		border-width: 2px;
		border-style: dashed;
		border-color: #D0D0D0;
	}
	&:hover {
		-webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
		-moz-transform: scale(1.2); /* IE 9 */
		-ms-transform: scale(1.2); /* IE 9 */
		transform: scale(1.2);

		span {
			background: #65AA00;
			border-color: #65AA00;
			color: #FFF;
		}
	}
}



// ------------------------------------------------------------------
// Tabs
// ------------------------------------------------------------------
.box {
	margin-top: 60px;
}
.tabs_wrap {
	padding: 0;
	clear: both;
	display: block;
	margin: 0;
	border-color: #F0F0F0;
	border-style: solid;
	border-width: 0;
}
.tab-style-three .tabs {
	border-color: #F0F0F0;
	border-style: solid;
	border-width: 0 0 1px;
	display: block;
	list-style: none outside none;
	margin: 0 !important;
	padding: 0 !important;
}
.tab-style-three ul.tabs {
	background: #F9F9F9;
	border: none;
	box-shadow: 0 -1px 0 #EEE inset;
}
.tab-style-three .tabs:before {
	background: rgba(0, 0, 0, 0.04);
	content: "";
	display: block;
	height: 112px;
	left: -3.2%;
	margin-top: -20px;
	position: absolute;
	width: 106.5%;
	z-index: -1;
}
.tabs_wrap .tabs li {
	float: left;
	text-indent: 0;
	margin: 0;
	list-style-image: none !important;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #F0F0F0;
	position: relative;
}
.tab-style-three .tabs a, .tab-style-three .tabs .with_icon a {
	color: #898989;
	display: block;
	font-size: 13px;
	line-height: 100%;
	margin: 0;
	padding: 20px 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	outline: none;
}
.tab-style-three .with_icon a > span:before {
	background: rgba(121, 121, 121, 0.85);
	color: #FFF;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.tab-style-three ul.tabs a.current, .tab-style-three ul.tabs a.current:hover, .tab-style-three ul.tabs a:hover, .tab-style-three ul.tabs li.current a {
	border: medium none;
	color: #65AA00;
	-o-box-shadow: 0 40px 24px #fff inset;
	-moz-box-shadow: 0 40px 24px #fff inset;
	-webkit-box-shadow: 0 40px 24px #FFF inset;
	box-shadow: 0 40px 24px #FFF inset;
}
.tab-style-three .tabs .with_icon span {
	display: block;
	font-size: 18px;
	margin: auto auto 10px;
	text-align: center;
	z-index: 1;
	position: static;
	width: auto;
}
.tab-style-three .tabs .with_icon.active a > span:before {
	// background: #F4BF1E;
	background: #65AA00;
}

@media only screen and (max-width: 767px) {
	.tabs_wrap .tabs li {
		float: none;
		width: 100%;
		border-width: 0 0 1px 0;
	}
}



// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
.menu-menu-fourth-footer-container {
	text-align: center;
}
.copy-right {
	padding: 15px 0 30px;
	text-align: center;
}

.first-footer-widget-area {
	margin: 30px 0;
	padding-top: 30px;
}

// ------------------------------------------------------------------
// Blog post
// ------------------------------------------------------------------
.post {
	position: relative;
	margin-bottom: 40px;
	padding: 0 0 30px;
	border-bottom: 1px dashed #D0D0D0;
	
	&.single {
		margin: 0;
	}

	figure {
		position: relative;
		// top: 151px;
		// padding-bottom: 30px;
		
		img {
			width: 100%;
		}
	}
	.post-title {
		h1 {
			margin: 0 0 20px;
		}
	}
	.entry-date {
		background: #65AA00;
		color: #FFF;
		top: 0;
		padding: 10px;
		font-weight: bold;
		position: absolute;
	}
	.comments-count {
		color: #65AA00;
		position: absolute;
		top: 0;
		font-weight: bold;

	}
	.post-excerpt {
		margin-bottom: 30px;
	}
	.comments-count {
		right: 0;
		text-transform: capitalize;
	}
	.read-more {
		background: #65AA00;
		color: #FFF;
		padding: 10px;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;

		&:hover {
			text-decoration: none;
		}
	}
	.post-details-full {
		margin: 40px 0;

		.post-content {
			margin: 30px 0;
		}
	}
}   



// ------------------------------------------------------------------
// Comments
// ------------------------------------------------------------------
#comments {
	#respond {
		padding: 20px;
		margin-bottom: 10px;
		background: #F0F0F0;

		.required {
			color: #E44400;
		}
		label {
			display: block;
		}
		input,
		textarea {
			display: block;
			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
			border: 1px solid #CCC;
		}

		input[type=text],
		input[type="email"],
		input[type="url"] {
			width: 43%;
			padding: 5px 10px;
		}
		textarea#comment {
			width: 80%;
			padding: 10px;
			outline: 0;
		}

		code {
			display: block;
			white-space: normal;
			font-size: 11px;
		}
	}
	ol.commentlist {
		margin: 10px 0;
		list-style: none;
		padding: 0 10px 0 0;

		li {
			
			article.comment {
				position: relative;
				border-bottom: 1px solid #D0D0D0;
				padding: 10px;
				margin: 0;
				overflow: hidden;
				clear: left;

				.comment-avatar {
					background: #EDEDED;
					-moz-border-radius: 500px;
					-webkit-border-radius: 500px;
					border-radius: 500px;
					float: left;
					padding: 3px;
					height: 81px;
					width: 81px;
					margin: 0 10px 0 0;

					img.avatar {
						-moz-border-radius: 500px;
						-webkit-border-radius: 500px;
						border-radius: 500px;
						background: #FFF;
					}
				}
			}
		}
		>li:last-child article.comment {
			border-bottom: none;
		}
	}
}

// ------------------------------------------------------------------
// Widget
// ------------------------------------------------------------------
.widget {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
#blog-sidebar {
	border-left: 1px solid #E3E3E3;
	box-shadow: inset 3px 0px 0px 0px rgba(208, 208, 208, 0.25);

	aside.widget {
		padding-bottom: 20px;
		border-bottom: 1px dashed #D0D0D0;

		&:last-child {
			border: 0;
		}
	}
}









// ------------------------------------------------------------------
// HACK
// ------------------------------------------------------------------

.woocommerce .col2-set:after, .woocommerce .col2-set:before, .woocommerce-page .col2-set:after, .woocommerce-page .col2-set:before {
	content: " ";
	display: table;
}
.woocommerce .col2-set:after, .woocommerce-page .col2-set:after {
	clear: both;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: left;
	width: 48%;
}
.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox {
	display: inline;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: right;
	width: 48%;
}
.woocommerce form.checkout label, .woocommerce-page form.checkout label {
	display: inline-block;
}
.woocommerce form.checkout input[type=text], .woocommerce-page form.checkout input[type=text] {
	border: 1px solid #EDEDED;
	box-shadow: none;
	padding: 5px 10px;
	width: 100%;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
	padding: 3px;
	margin: 0 0 6px;
}
.woocommerce ul#shipping_method, .woocommerce-page ul#shipping_method {
	list-style: none outside;
	margin: 0;
	padding: 0;
}
.woocommerce ul#shipping_method li, .woocommerce-page ul#shipping_method li {
	margin: 0;
	padding: .25em 0 .25em 22px;
	text-indent: -22px;
	list-style: none outside;
}
.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #E0DADF;
	margin: 0;
	list-style: none outside;
}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required {
	color: #F00;
	font-weight: 700;
	border: 0;
}
.woocommerce ul#shipping_method li, .woocommerce-page ul#shipping_method li {
	text-indent: 0 !important;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
	font-weight: 700;
	border-top: 1px solid rgba(98, 98, 98, 0.24);
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
	font-weight: 700;
	line-height: 18px;
	padding: 9px 12px;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	vertical-align: middle;
}



// ------------------------------------------------------------------
// HACK MEGA MENU
// ------------------------------------------------------------------
.widget.dokan-category-menu #cat-drop-stack {
	border: 1px solid #EEE;
	border-top: none;
	padding: 0;
	margin: 0;
	background: #FFF;
	position: relative;
}
.widget ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.widget.dokan-category-menu #cat-drop-stack>ul {
	margin-bottom: 0;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li {
	list-style: none;
	padding: 0;
	position: relative;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li>a {
	padding: 7px 0 8px 20px;
	color: #5C5B52;
	display: block;
	border-width: 0 0 1px;
	border-style:  dashed;
	border-color: #D0D0D0;

	&:hover {
		background: #65AA00;
		color: #fff;
		text-decoration: none;
		border-color: darken(#65AA00, 6%);

		.caret {
			border-left: 4px solid #FFF;
		}
	}
}
.widget.dokan-category-menu #cat-drop-stack>ul>li .caret {
	border-bottom: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid #000;
	display: inline-block;
	height: 0;
	opacity: .3;
	vertical-align: middle;
	width: 0;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li .sub-category {
	display: none;
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #E3E3E3;
	box-shadow: 5px 0 10px rgba(108, 108, 108, 0.3);
	min-height: 250px;
	padding: 20px;
	position: absolute;
	left: 90%;
	top: -50px;
	white-space: nowrap;
	z-index: 99;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li .sub-category .sub-block {
	position: relative;
	z-index: 1;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	padding-right: 20px;
	width: 200px;
	font-size: 12px;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li .sub-category .sub-block h3 {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #CCC;
	padding: 0 0 7px 0;
	margin: 0 0 7px 0;
}
.widget ul ul.children {
	padding-left: 15px;
}
.widget.dokan-category-menu #cat-drop-stack>ul>li:hover .sub-category {
	display: block;
}

#wp-submit {
	padding: 5px 20px;
}


















